.simulation-badge.status-running {
    background-color: #C8E6C9;
    color: #256029;
}

.simulation-badge.status-pending {
    background-color: #FEEDAF;
    color: #8A5340;
}

.simulation-badge.status-finished {
    background-color: #B3E5FC;
    color: #23547B;
}